In [31]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split

In [18]:
data = pd.read_csv('../input/titanic_train.csv')

In [19]:
def handle_missing_values(data):
    total = data.isnull().sum().sort_values(ascending = False)
    percentage = round(total / data.shape[0] * 100)
    return pd.concat([total, percentage], axis = 1, keys = ['total', 'percentage'])
handle_missing_values(data)

             total  percentage
Cabin          687        77.0
Age            177        20.0
Embarked         2         0.0
Fare             0         0.0
Ticket           0         0.0
Parch            0         0.0
SibSp            0         0.0
Sex              0         0.0
Name             0         0.0
Pclass           0         0.0
Survived         0         0.0
PassengerId      0         0.0

In [20]:
data.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [21]:
#Lets Drop some Features
data = data.drop(['Name', 'Ticket', 'Cabin'], axis = 1)

In [22]:
data.head(2)

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C

In [24]:
#Encode the Categorical Values
dummy_data = pd.get_dummies(data, columns=['Sex', 'Embarked'],drop_first=True)

In [26]:
X = dummy_data.loc[:,dummy_data.columns != 'Survived']

In [27]:
y = dummy_data.Survived

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)